In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier

In [3]:
numerical = pd.read_csv('numerical.csv')
categorical = pd.read_csv('categorical.csv')
target = pd.read_csv('target.csv')

In [4]:
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

Apply the Random Forests algorithm but this time only by upscaling the data using SMOTE.
Note that since SMOTE works on numerical data only, we will first encode the categorical variables in this case.

In [5]:
new_cat =pd.get_dummies(categorical)

In [6]:
data= pd.concat([numerical, new_cat, target], axis = 1)

In [7]:
data.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,0,1,0,0,0,0,1,0,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,0,0,0,0,0,1,0,0,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,1,0,0,1,0,0,0,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,0,1,0,0,1,0,0,0,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,0,0,0,0,0,1,0,0,0,0.0

In [8]:
data.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('uint8')], dtype=object)

In [9]:
smote = SMOTE()
y = data['TARGET_B']
X = data.drop(['TARGET_B','TARGET_D'], axis=1)
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

0    90569
1    90569
Name: TARGET_B, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3,random_state=42)

model = RandomForestClassifier(max_depth=None, random_state=42, bootstrap=True, n_jobs=-1)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9735747672150454